<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GradoCreateDlg" widgetVar="GradoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateGradoTitle}">
            <h:form id="GradoCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{gradoController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateGradoLabel_idGrado}" for="idGrado" />
                        <p:inputText id="idGrado" value="#{gradoController.selected.idGrado}" title="#{bundle.CreateGradoTitle_idGrado}" required="true" requiredMessage="#{bundle.CreateGradoRequiredMessage_idGrado}"/>
                        <p:outputLabel value="#{bundle.CreateGradoLabel_nombreGrado}" for="nombreGrado" />
                        <p:inputText id="nombreGrado" value="#{gradoController.selected.nombreGrado}" title="#{bundle.CreateGradoTitle_nombreGrado}" required="true" requiredMessage="#{bundle.CreateGradoRequiredMessage_nombreGrado}"/>
                        <p:outputLabel value="#{bundle.CreateGradoLabel_numeroMaximoEstudiantes}" for="numeroMaximoEstudiantes" />
                        <p:inputText id="numeroMaximoEstudiantes" value="#{gradoController.selected.numeroMaximoEstudiantes}" title="#{bundle.CreateGradoTitle_numeroMaximoEstudiantes}" required="true" requiredMessage="#{bundle.CreateGradoRequiredMessage_numeroMaximoEstudiantes}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{gradoController.create}" value="#{bundle.Save}" update="display,:GradoListForm:datalist,:growl" oncomplete="handleSubmit(args,'GradoCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="GradoCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
