<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GradoEditDlg" widgetVar="GradoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditGradoTitle}">
            <h:form id="GradoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{gradoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditGradoLabel_idGrado}" for="idGrado" />
                        <p:inputText id="idGrado" value="#{gradoController.selected.idGrado}" title="#{bundle.EditGradoTitle_idGrado}" required="true" requiredMessage="#{bundle.EditGradoRequiredMessage_idGrado}"/>
                        <p:outputLabel value="#{bundle.EditGradoLabel_nombreGrado}" for="nombreGrado" />
                        <p:inputText id="nombreGrado" value="#{gradoController.selected.nombreGrado}" title="#{bundle.EditGradoTitle_nombreGrado}" required="true" requiredMessage="#{bundle.EditGradoRequiredMessage_nombreGrado}"/>
                        <p:outputLabel value="#{bundle.EditGradoLabel_numeroMaximoEstudiantes}" for="numeroMaximoEstudiantes" />
                        <p:inputText id="numeroMaximoEstudiantes" value="#{gradoController.selected.numeroMaximoEstudiantes}" title="#{bundle.EditGradoTitle_numeroMaximoEstudiantes}" required="true" requiredMessage="#{bundle.EditGradoRequiredMessage_numeroMaximoEstudiantes}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{gradoController.update}" value="#{bundle.Save}" update="display,:GradoListForm:datalist,:growl" oncomplete="handleSubmit(args, 'GradoEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="GradoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
