<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListGradoTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="GradoListForm">
                <p:panel header="#{bundle.ListGradoTitle}">
                    <p:dataTable id="datalist" value="#{gradoController.items}" var="item"
                                 selectionMode="single" selection="#{gradoController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idGrado}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListGradoTitle_idGrado}"/>
                            </f:facet>
                            <h:outputText value="#{item.idGrado}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListGradoTitle_nombreGrado}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombreGrado}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListGradoTitle_numeroMaximoEstudiantes}"/>
                            </f:facet>
                            <h:outputText value="#{item.numeroMaximoEstudiantes}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{gradoController.prepareCreate}" update=":GradoCreateForm" oncomplete="PF('GradoCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":GradoViewForm" oncomplete="PF('GradoViewDialog').show()" disabled="#{empty gradoController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":GradoEditForm" oncomplete="PF('GradoEditDialog').show()" disabled="#{empty gradoController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{gradoController.destroy}" update=":growl,datalist" disabled="#{empty gradoController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
