<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GradoViewDlg" widgetVar="GradoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewGradoTitle}">
            <h:form id="GradoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{gradoController.selected != null}">
                        <h:outputText value="#{bundle.ViewGradoLabel_idGrado}"/>
                        <h:outputText value="#{gradoController.selected.idGrado}" title="#{bundle.ViewGradoTitle_idGrado}"/>
                        <h:outputText value="#{bundle.ViewGradoLabel_nombreGrado}"/>
                        <h:outputText value="#{gradoController.selected.nombreGrado}" title="#{bundle.ViewGradoTitle_nombreGrado}"/>
                        <h:outputText value="#{bundle.ViewGradoLabel_numeroMaximoEstudiantes}"/>
                        <h:outputText value="#{gradoController.selected.numeroMaximoEstudiantes}" title="#{bundle.ViewGradoTitle_numeroMaximoEstudiantes}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="GradoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
