<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MatriculaCreateDlg" widgetVar="MatriculaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateMatriculaTitle}">
            <h:form id="MatriculaCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{matriculaController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateMatriculaLabel_idMatricula}" for="idMatricula" />
                        <p:inputText id="idMatricula" value="#{matriculaController.selected.idMatricula}" title="#{bundle.CreateMatriculaTitle_idMatricula}" required="true" requiredMessage="#{bundle.CreateMatriculaRequiredMessage_idMatricula}"/>
                        <p:outputLabel value="#{bundle.CreateMatriculaLabel_grado}" for="grado" />
                        <p:inputText id="grado" value="#{matriculaController.selected.grado}" title="#{bundle.CreateMatriculaTitle_grado}" required="true" requiredMessage="#{bundle.CreateMatriculaRequiredMessage_grado}"/>
                        <p:outputLabel value="#{bundle.CreateMatriculaLabel_identificacionEstudiante}" for="identificacionEstudiante" />
                        <p:selectOneMenu id="identificacionEstudiante" value="#{matriculaController.selected.identificacionEstudiante}" required="true" requiredMessage="#{bundle.EditMatriculaRequiredMessage_identificacionEstudiante}">
                            <f:selectItems value="#{estudianteController.itemsAvailableSelectOne}"
                                           var="identificacionEstudianteItem"
                                           itemValue="#{identificacionEstudianteItem.toString()}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{matriculaController.create}" value="#{bundle.Save}" update="display,:MatriculaListForm:datalist,:growl" oncomplete="handleSubmit(args,'MatriculaCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="MatriculaCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
