<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MatriculaEditDlg" widgetVar="MatriculaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditMatriculaTitle}">
            <h:form id="MatriculaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{matriculaController.selected != null}">
                        <p:outputLabel value="#{bundle.EditMatriculaLabel_idMatricula}" for="idMatricula" />
                        <p:inputText id="idMatricula" value="#{matriculaController.selected.idMatricula}" title="#{bundle.EditMatriculaTitle_idMatricula}" required="true" requiredMessage="#{bundle.EditMatriculaRequiredMessage_idMatricula}"/>
                        <p:outputLabel value="#{bundle.EditMatriculaLabel_grado}" for="grado" />
                        <p:inputText id="grado" value="#{matriculaController.selected.grado}" title="#{bundle.EditMatriculaTitle_grado}" required="true" requiredMessage="#{bundle.EditMatriculaRequiredMessage_grado}"/>
                        <p:outputLabel value="#{bundle.EditMatriculaLabel_identificacionEstudiante}" for="identificacionEstudiante" />
                        <p:selectOneMenu id="identificacionEstudiante" value="#{matriculaController.selected.identificacionEstudiante}" required="true" requiredMessage="#{bundle.EditMatriculaRequiredMessage_identificacionEstudiante}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{estudianteController.itemsAvailableSelectOne}"
                                           var="identificacionEstudianteItem"
                                           itemValue="#{identificacionEstudianteItem.toString()}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{matriculaController.update}" value="#{bundle.Save}" update="display,:MatriculaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'MatriculaEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="MatriculaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
