<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="InscripcionCreateDlg" widgetVar="InscripcionCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateInscripcionTitle}">
            <h:form id="InscripcionCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{inscripcionController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateInscripcionLabel_identificacion}" for="identificacion" />
                        <p:inputText id="identificacion" value="#{inscripcionController.selected.identificacion}" title="#{bundle.CreateInscripcionTitle_identificacion}" required="true" requiredMessage="#{bundle.CreateInscripcionRequiredMessage_identificacion}"/>
                        <p:outputLabel value="#{bundle.CreateInscripcionLabel_primerNombre}" for="primerNombre" />
                        <p:inputText id="primerNombre" value="#{inscripcionController.selected.primerNombre}" title="#{bundle.CreateInscripcionTitle_primerNombre}" required="true" requiredMessage="#{bundle.CreateInscripcionRequiredMessage_primerNombre}"/>
                        <p:outputLabel value="#{bundle.CreateInscripcionLabel_segundoNombre}" for="segundoNombre" />
                        <p:inputText id="segundoNombre" value="#{inscripcionController.selected.segundoNombre}" title="#{bundle.CreateInscripcionTitle_segundoNombre}" />
                        <p:outputLabel value="#{bundle.CreateInscripcionLabel_primerApellido}" for="primerApellido" />
                        <p:inputText id="primerApellido" value="#{inscripcionController.selected.primerApellido}" title="#{bundle.CreateInscripcionTitle_primerApellido}" required="true" requiredMessage="#{bundle.CreateInscripcionRequiredMessage_primerApellido}"/>
                        <p:outputLabel value="#{bundle.CreateInscripcionLabel_segundoApellido}" for="segundoApellido" />
                        <p:inputText id="segundoApellido" value="#{inscripcionController.selected.segundoApellido}" title="#{bundle.CreateInscripcionTitle_segundoApellido}" />
                        <p:outputLabel value="#{bundle.CreateInscripcionLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{inscripcionController.selected.direccion}" title="#{bundle.CreateInscripcionTitle_direccion}" required="true" requiredMessage="#{bundle.CreateInscripcionRequiredMessage_direccion}"/>
                        <p:outputLabel value="#{bundle.CreateInscripcionLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{inscripcionController.selected.telefono}" title="#{bundle.CreateInscripcionTitle_telefono}" required="true" requiredMessage="#{bundle.CreateInscripcionRequiredMessage_telefono}"/>
                        <p:outputLabel value="#{bundle.CreateInscripcionLabel_fechaNacimiento}" for="fechaNacimiento" />
                        <p:calendar id="fechaNacimiento" pattern="MM/dd/yyyy" value="#{inscripcionController.selected.fechaNacimiento}" title="#{bundle.EditInscripcionTitle_fechaNacimiento}" required="true" requiredMessage="#{bundle.EditInscripcionRequiredMessage_fechaNacimiento}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateInscripcionLabel_email}" for="email" />
                        <p:inputText id="email" value="#{inscripcionController.selected.email}" title="#{bundle.CreateInscripcionTitle_email}" required="true" requiredMessage="#{bundle.CreateInscripcionRequiredMessage_email}"/>
                        <p:outputLabel value="#{bundle.CreateInscripcionLabel_identificacionAcudiente}" for="identificacionAcudiente" />
                        <p:inputText id="identificacionAcudiente" value="#{inscripcionController.selected.identificacionAcudiente}" title="#{bundle.CreateInscripcionTitle_identificacionAcudiente}" required="true" requiredMessage="#{bundle.CreateInscripcionRequiredMessage_identificacionAcudiente}"/>
                        <p:outputLabel value="#{bundle.CreateInscripcionLabel_nombreAcudiente}" for="nombreAcudiente" />
                        <p:inputText id="nombreAcudiente" value="#{inscripcionController.selected.nombreAcudiente}" title="#{bundle.CreateInscripcionTitle_nombreAcudiente}" required="true" requiredMessage="#{bundle.CreateInscripcionRequiredMessage_nombreAcudiente}"/>
                        <p:outputLabel value="#{bundle.CreateInscripcionLabel_apellidoAcudiente}" for="apellidoAcudiente" />
                        <p:inputText id="apellidoAcudiente" value="#{inscripcionController.selected.apellidoAcudiente}" title="#{bundle.CreateInscripcionTitle_apellidoAcudiente}" required="true" requiredMessage="#{bundle.CreateInscripcionRequiredMessage_apellidoAcudiente}"/>
                        <p:outputLabel value="#{bundle.CreateInscripcionLabel_direccionAcudiente}" for="direccionAcudiente" />
                        <p:inputText id="direccionAcudiente" value="#{inscripcionController.selected.direccionAcudiente}" title="#{bundle.CreateInscripcionTitle_direccionAcudiente}" required="true" requiredMessage="#{bundle.CreateInscripcionRequiredMessage_direccionAcudiente}"/>
                        <p:outputLabel value="#{bundle.CreateInscripcionLabel_telefonoAcudiente}" for="telefonoAcudiente" />
                        <p:inputText id="telefonoAcudiente" value="#{inscripcionController.selected.telefonoAcudiente}" title="#{bundle.CreateInscripcionTitle_telefonoAcudiente}" required="true" requiredMessage="#{bundle.CreateInscripcionRequiredMessage_telefonoAcudiente}"/>
                        <p:outputLabel value="#{bundle.CreateInscripcionLabel_emailAcudiente}" for="emailAcudiente" />
                        <p:inputText id="emailAcudiente" value="#{inscripcionController.selected.emailAcudiente}" title="#{bundle.CreateInscripcionTitle_emailAcudiente}" required="true" requiredMessage="#{bundle.CreateInscripcionRequiredMessage_emailAcudiente}"/>
                        <p:outputLabel value="#{bundle.CreateInscripcionLabel_gradoCursar}" for="gradoCursar" />
                        <p:inputText id="gradoCursar" value="#{inscripcionController.selected.gradoCursar}" title="#{bundle.CreateInscripcionTitle_gradoCursar}" required="true" requiredMessage="#{bundle.CreateInscripcionRequiredMessage_gradoCursar}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{inscripcionController.create}" value="#{bundle.Save}" update="display,:InscripcionListForm:datalist,:growl" oncomplete="handleSubmit(args,'InscripcionCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="InscripcionCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
