<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="InscripcionEditDlg" widgetVar="InscripcionEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditInscripcionTitle}">
            <h:form id="InscripcionEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{inscripcionController.selected != null}">
                        <p:outputLabel value="#{bundle.EditInscripcionLabel_identificacion}" for="identificacion" />
                        <p:inputText id="identificacion" value="#{inscripcionController.selected.identificacion}" title="#{bundle.EditInscripcionTitle_identificacion}" required="true" requiredMessage="#{bundle.EditInscripcionRequiredMessage_identificacion}"/>
                        <p:outputLabel value="#{bundle.EditInscripcionLabel_primerNombre}" for="primerNombre" />
                        <p:inputText id="primerNombre" value="#{inscripcionController.selected.primerNombre}" title="#{bundle.EditInscripcionTitle_primerNombre}" required="true" requiredMessage="#{bundle.EditInscripcionRequiredMessage_primerNombre}"/>
                        <p:outputLabel value="#{bundle.EditInscripcionLabel_segundoNombre}" for="segundoNombre" />
                        <p:inputText id="segundoNombre" value="#{inscripcionController.selected.segundoNombre}" title="#{bundle.EditInscripcionTitle_segundoNombre}" />
                        <p:outputLabel value="#{bundle.EditInscripcionLabel_primerApellido}" for="primerApellido" />
                        <p:inputText id="primerApellido" value="#{inscripcionController.selected.primerApellido}" title="#{bundle.EditInscripcionTitle_primerApellido}" required="true" requiredMessage="#{bundle.EditInscripcionRequiredMessage_primerApellido}"/>
                        <p:outputLabel value="#{bundle.EditInscripcionLabel_segundoApellido}" for="segundoApellido" />
                        <p:inputText id="segundoApellido" value="#{inscripcionController.selected.segundoApellido}" title="#{bundle.EditInscripcionTitle_segundoApellido}" />
                        <p:outputLabel value="#{bundle.EditInscripcionLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{inscripcionController.selected.direccion}" title="#{bundle.EditInscripcionTitle_direccion}" required="true" requiredMessage="#{bundle.EditInscripcionRequiredMessage_direccion}"/>
                        <p:outputLabel value="#{bundle.EditInscripcionLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{inscripcionController.selected.telefono}" title="#{bundle.EditInscripcionTitle_telefono}" required="true" requiredMessage="#{bundle.EditInscripcionRequiredMessage_telefono}"/>
                        <p:outputLabel value="#{bundle.EditInscripcionLabel_fechaNacimiento}" for="fechaNacimiento" />
                        <p:calendar id="fechaNacimiento" pattern="MM/dd/yyyy" value="#{inscripcionController.selected.fechaNacimiento}" title="#{bundle.EditInscripcionTitle_fechaNacimiento}" required="true" requiredMessage="#{bundle.EditInscripcionRequiredMessage_fechaNacimiento}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditInscripcionLabel_email}" for="email" />
                        <p:inputText id="email" value="#{inscripcionController.selected.email}" title="#{bundle.EditInscripcionTitle_email}" required="true" requiredMessage="#{bundle.EditInscripcionRequiredMessage_email}"/>
                        <p:outputLabel value="#{bundle.EditInscripcionLabel_identificacionAcudiente}" for="identificacionAcudiente" />
                        <p:inputText id="identificacionAcudiente" value="#{inscripcionController.selected.identificacionAcudiente}" title="#{bundle.EditInscripcionTitle_identificacionAcudiente}" required="true" requiredMessage="#{bundle.EditInscripcionRequiredMessage_identificacionAcudiente}"/>
                        <p:outputLabel value="#{bundle.EditInscripcionLabel_nombreAcudiente}" for="nombreAcudiente" />
                        <p:inputText id="nombreAcudiente" value="#{inscripcionController.selected.nombreAcudiente}" title="#{bundle.EditInscripcionTitle_nombreAcudiente}" required="true" requiredMessage="#{bundle.EditInscripcionRequiredMessage_nombreAcudiente}"/>
                        <p:outputLabel value="#{bundle.EditInscripcionLabel_apellidoAcudiente}" for="apellidoAcudiente" />
                        <p:inputText id="apellidoAcudiente" value="#{inscripcionController.selected.apellidoAcudiente}" title="#{bundle.EditInscripcionTitle_apellidoAcudiente}" required="true" requiredMessage="#{bundle.EditInscripcionRequiredMessage_apellidoAcudiente}"/>
                        <p:outputLabel value="#{bundle.EditInscripcionLabel_direccionAcudiente}" for="direccionAcudiente" />
                        <p:inputText id="direccionAcudiente" value="#{inscripcionController.selected.direccionAcudiente}" title="#{bundle.EditInscripcionTitle_direccionAcudiente}" required="true" requiredMessage="#{bundle.EditInscripcionRequiredMessage_direccionAcudiente}"/>
                        <p:outputLabel value="#{bundle.EditInscripcionLabel_telefonoAcudiente}" for="telefonoAcudiente" />
                        <p:inputText id="telefonoAcudiente" value="#{inscripcionController.selected.telefonoAcudiente}" title="#{bundle.EditInscripcionTitle_telefonoAcudiente}" required="true" requiredMessage="#{bundle.EditInscripcionRequiredMessage_telefonoAcudiente}"/>
                        <p:outputLabel value="#{bundle.EditInscripcionLabel_emailAcudiente}" for="emailAcudiente" />
                        <p:inputText id="emailAcudiente" value="#{inscripcionController.selected.emailAcudiente}" title="#{bundle.EditInscripcionTitle_emailAcudiente}" required="true" requiredMessage="#{bundle.EditInscripcionRequiredMessage_emailAcudiente}"/>
                        <p:outputLabel value="#{bundle.EditInscripcionLabel_gradoCursar}" for="gradoCursar" />
                        <p:inputText id="gradoCursar" value="#{inscripcionController.selected.gradoCursar}" title="#{bundle.EditInscripcionTitle_gradoCursar}" required="true" requiredMessage="#{bundle.EditInscripcionRequiredMessage_gradoCursar}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{inscripcionController.update}" value="#{bundle.Save}" update="display,:InscripcionListForm:datalist,:growl" oncomplete="handleSubmit(args, 'InscripcionEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="InscripcionEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
