<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListInscripcionTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="InscripcionListForm">
                <p:panel header="#{bundle.ListInscripcionTitle}">
                    <p:dataTable id="datalist" value="#{inscripcionController.items}" var="item"
                                 selectionMode="single" selection="#{inscripcionController.selected}"
                                 paginator="true"
                                 rowKey="#{item.identificacion}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInscripcionTitle_identificacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.identificacion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInscripcionTitle_primerNombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.primerNombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInscripcionTitle_segundoNombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.segundoNombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInscripcionTitle_primerApellido}"/>
                            </f:facet>
                            <h:outputText value="#{item.primerApellido}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInscripcionTitle_segundoApellido}"/>
                            </f:facet>
                            <h:outputText value="#{item.segundoApellido}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInscripcionTitle_direccion}"/>
                            </f:facet>
                            <h:outputText value="#{item.direccion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInscripcionTitle_telefono}"/>
                            </f:facet>
                            <h:outputText value="#{item.telefono}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInscripcionTitle_fechaNacimiento}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaNacimiento}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInscripcionTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInscripcionTitle_identificacionAcudiente}"/>
                            </f:facet>
                            <h:outputText value="#{item.identificacionAcudiente}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInscripcionTitle_nombreAcudiente}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombreAcudiente}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInscripcionTitle_apellidoAcudiente}"/>
                            </f:facet>
                            <h:outputText value="#{item.apellidoAcudiente}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInscripcionTitle_direccionAcudiente}"/>
                            </f:facet>
                            <h:outputText value="#{item.direccionAcudiente}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInscripcionTitle_telefonoAcudiente}"/>
                            </f:facet>
                            <h:outputText value="#{item.telefonoAcudiente}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInscripcionTitle_emailAcudiente}"/>
                            </f:facet>
                            <h:outputText value="#{item.emailAcudiente}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListInscripcionTitle_gradoCursar}"/>
                            </f:facet>
                            <h:outputText value="#{item.gradoCursar}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{inscripcionController.prepareCreate}" update=":InscripcionCreateForm" oncomplete="PF('InscripcionCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":InscripcionViewForm" oncomplete="PF('InscripcionViewDialog').show()" disabled="#{empty inscripcionController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":InscripcionEditForm" oncomplete="PF('InscripcionEditDialog').show()" disabled="#{empty inscripcionController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{inscripcionController.destroy}" update=":growl,datalist" disabled="#{empty inscripcionController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
