<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="InscripcionViewDlg" widgetVar="InscripcionViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewInscripcionTitle}">
            <h:form id="InscripcionViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{inscripcionController.selected != null}">
                        <h:outputText value="#{bundle.ViewInscripcionLabel_identificacion}"/>
                        <h:outputText value="#{inscripcionController.selected.identificacion}" title="#{bundle.ViewInscripcionTitle_identificacion}"/>
                        <h:outputText value="#{bundle.ViewInscripcionLabel_primerNombre}"/>
                        <h:outputText value="#{inscripcionController.selected.primerNombre}" title="#{bundle.ViewInscripcionTitle_primerNombre}"/>
                        <h:outputText value="#{bundle.ViewInscripcionLabel_segundoNombre}"/>
                        <h:outputText value="#{inscripcionController.selected.segundoNombre}" title="#{bundle.ViewInscripcionTitle_segundoNombre}"/>
                        <h:outputText value="#{bundle.ViewInscripcionLabel_primerApellido}"/>
                        <h:outputText value="#{inscripcionController.selected.primerApellido}" title="#{bundle.ViewInscripcionTitle_primerApellido}"/>
                        <h:outputText value="#{bundle.ViewInscripcionLabel_segundoApellido}"/>
                        <h:outputText value="#{inscripcionController.selected.segundoApellido}" title="#{bundle.ViewInscripcionTitle_segundoApellido}"/>
                        <h:outputText value="#{bundle.ViewInscripcionLabel_direccion}"/>
                        <h:outputText value="#{inscripcionController.selected.direccion}" title="#{bundle.ViewInscripcionTitle_direccion}"/>
                        <h:outputText value="#{bundle.ViewInscripcionLabel_telefono}"/>
                        <h:outputText value="#{inscripcionController.selected.telefono}" title="#{bundle.ViewInscripcionTitle_telefono}"/>
                        <h:outputText value="#{bundle.ViewInscripcionLabel_fechaNacimiento}"/>
                        <h:outputText value="#{inscripcionController.selected.fechaNacimiento}" title="#{bundle.ViewInscripcionTitle_fechaNacimiento}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewInscripcionLabel_email}"/>
                        <h:outputText value="#{inscripcionController.selected.email}" title="#{bundle.ViewInscripcionTitle_email}"/>
                        <h:outputText value="#{bundle.ViewInscripcionLabel_identificacionAcudiente}"/>
                        <h:outputText value="#{inscripcionController.selected.identificacionAcudiente}" title="#{bundle.ViewInscripcionTitle_identificacionAcudiente}"/>
                        <h:outputText value="#{bundle.ViewInscripcionLabel_nombreAcudiente}"/>
                        <h:outputText value="#{inscripcionController.selected.nombreAcudiente}" title="#{bundle.ViewInscripcionTitle_nombreAcudiente}"/>
                        <h:outputText value="#{bundle.ViewInscripcionLabel_apellidoAcudiente}"/>
                        <h:outputText value="#{inscripcionController.selected.apellidoAcudiente}" title="#{bundle.ViewInscripcionTitle_apellidoAcudiente}"/>
                        <h:outputText value="#{bundle.ViewInscripcionLabel_direccionAcudiente}"/>
                        <h:outputText value="#{inscripcionController.selected.direccionAcudiente}" title="#{bundle.ViewInscripcionTitle_direccionAcudiente}"/>
                        <h:outputText value="#{bundle.ViewInscripcionLabel_telefonoAcudiente}"/>
                        <h:outputText value="#{inscripcionController.selected.telefonoAcudiente}" title="#{bundle.ViewInscripcionTitle_telefonoAcudiente}"/>
                        <h:outputText value="#{bundle.ViewInscripcionLabel_emailAcudiente}"/>
                        <h:outputText value="#{inscripcionController.selected.emailAcudiente}" title="#{bundle.ViewInscripcionTitle_emailAcudiente}"/>
                        <h:outputText value="#{bundle.ViewInscripcionLabel_gradoCursar}"/>
                        <h:outputText value="#{inscripcionController.selected.gradoCursar}" title="#{bundle.ViewInscripcionTitle_gradoCursar}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="InscripcionViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
