<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DocenteCreateDlg" widgetVar="DocenteCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateDocenteTitle}">
            <h:form id="DocenteCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{docenteController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateDocenteLabel_identificacionDocente}" for="identificacionDocente" />
                        <p:inputText id="identificacionDocente" value="#{docenteController.selected.identificacionDocente}" title="#{bundle.CreateDocenteTitle_identificacionDocente}" required="true" requiredMessage="#{bundle.CreateDocenteRequiredMessage_identificacionDocente}"/>
                        <p:outputLabel value="#{bundle.CreateDocenteLabel_nivelEscolar}" for="nivelEscolar" />
                        <p:inputText id="nivelEscolar" value="#{docenteController.selected.nivelEscolar}" title="#{bundle.CreateDocenteTitle_nivelEscolar}" required="true" requiredMessage="#{bundle.CreateDocenteRequiredMessage_nivelEscolar}"/>
                        <p:outputLabel value="#{bundle.CreateDocenteLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{docenteController.selected.descripcion}" title="#{bundle.CreateDocenteTitle_descripcion}" required="true" requiredMessage="#{bundle.CreateDocenteRequiredMessage_descripcion}"/>
                        <p:outputLabel value="#{bundle.CreateDocenteLabel_persona}" for="persona" />
                        <p:selectOneMenu id="persona" value="#{docenteController.selected.persona}" required="true" requiredMessage="#{bundle.EditDocenteRequiredMessage_persona}">
                            <f:selectItems value="#{personaController.itemsAvailableSelectOne}"
                                           var="personaItem"
                                           itemValue="#{personaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{docenteController.create}" value="#{bundle.Save}" update="display,:DocenteListForm:datalist,:growl" oncomplete="handleSubmit(args,'DocenteCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="DocenteCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
