<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DocenteViewDlg" widgetVar="DocenteViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewDocenteTitle}">
            <h:form id="DocenteViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{docenteController.selected != null}">
                        <h:outputText value="#{bundle.ViewDocenteLabel_identificacionDocente}"/>
                        <h:outputText value="#{docenteController.selected.identificacionDocente}" title="#{bundle.ViewDocenteTitle_identificacionDocente}"/>
                        <h:outputText value="#{bundle.ViewDocenteLabel_nivelEscolar}"/>
                        <h:outputText value="#{docenteController.selected.nivelEscolar}" title="#{bundle.ViewDocenteTitle_nivelEscolar}"/>
                        <h:outputText value="#{bundle.ViewDocenteLabel_descripcion}"/>
                        <h:outputText value="#{docenteController.selected.descripcion}" title="#{bundle.ViewDocenteTitle_descripcion}"/>
                        <h:outputText value="#{bundle.ViewDocenteLabel_persona}"/>
                        <h:outputText value="#{docenteController.selected.persona}" title="#{bundle.ViewDocenteTitle_persona}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="DocenteViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
