<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PersonaCreateDlg" widgetVar="PersonaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePersonaTitle}">
            <h:form id="PersonaCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{personaController.selected != null}">
                        <p:outputLabel value="#{bundle.CreatePersonaLabel_cedula}" for="cedula" />
                        <p:inputText id="cedula" value="#{personaController.selected.cedula}" title="#{bundle.CreatePersonaTitle_cedula}" required="true" requiredMessage="#{bundle.CreatePersonaRequiredMessage_cedula}"/>
                        <p:outputLabel value="#{bundle.CreatePersonaLabel_primerNombre}" for="primerNombre" />
                        <p:inputText id="primerNombre" value="#{personaController.selected.primerNombre}" title="#{bundle.CreatePersonaTitle_primerNombre}" required="true" requiredMessage="#{bundle.CreatePersonaRequiredMessage_primerNombre}"/>
                        <p:outputLabel value="#{bundle.CreatePersonaLabel_segundoNombre}" for="segundoNombre" />
                        <p:inputText id="segundoNombre" value="#{personaController.selected.segundoNombre}" title="#{bundle.CreatePersonaTitle_segundoNombre}" />
                        <p:outputLabel value="#{bundle.CreatePersonaLabel_primerApellido}" for="primerApellido" />
                        <p:inputText id="primerApellido" value="#{personaController.selected.primerApellido}" title="#{bundle.CreatePersonaTitle_primerApellido}" required="true" requiredMessage="#{bundle.CreatePersonaRequiredMessage_primerApellido}"/>
                        <p:outputLabel value="#{bundle.CreatePersonaLabel_segundoApellido}" for="segundoApellido" />
                        <p:inputText id="segundoApellido" value="#{personaController.selected.segundoApellido}" title="#{bundle.CreatePersonaTitle_segundoApellido}" />
                        <p:outputLabel value="#{bundle.CreatePersonaLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{personaController.selected.direccion}" title="#{bundle.CreatePersonaTitle_direccion}" required="true" requiredMessage="#{bundle.CreatePersonaRequiredMessage_direccion}"/>
                        <p:outputLabel value="#{bundle.CreatePersonaLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{personaController.selected.telefono}" title="#{bundle.CreatePersonaTitle_telefono}" required="true" requiredMessage="#{bundle.CreatePersonaRequiredMessage_telefono}"/>
                        <p:outputLabel value="#{bundle.CreatePersonaLabel_estudiante}" for="estudiante" />
                        <p:selectOneMenu id="estudiante" value="#{personaController.selected.estudiante}" >
                            <f:selectItems value="#{estudianteController.itemsAvailableSelectOne}"
                                           var="estudianteItem"
                                           itemValue="#{estudianteItem.toString()}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreatePersonaLabel_docente}" for="docente" />
                        <p:selectOneMenu id="docente" value="#{personaController.selected.docente}" >
                            <f:selectItems value="#{docenteController.itemsAvailableSelectOne}"
                                           var="docenteItem"
                                           itemValue="#{docenteItem.toString()}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{personaController.create}" value="#{bundle.Save}" update="display,:PersonaListForm:datalist,:growl" oncomplete="handleSubmit(args,'PersonaCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="PersonaCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
