<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PersonaEditDlg" widgetVar="PersonaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditPersonaTitle}">
            <h:form id="PersonaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{personaController.selected != null}">
                        <p:outputLabel value="#{bundle.EditPersonaLabel_cedula}" for="cedula" />
                        <p:inputText id="cedula" value="#{personaController.selected.cedula}" title="#{bundle.EditPersonaTitle_cedula}" required="true" requiredMessage="#{bundle.EditPersonaRequiredMessage_cedula}"/>
                        <p:outputLabel value="#{bundle.EditPersonaLabel_primerNombre}" for="primerNombre" />
                        <p:inputText id="primerNombre" value="#{personaController.selected.primerNombre}" title="#{bundle.EditPersonaTitle_primerNombre}" required="true" requiredMessage="#{bundle.EditPersonaRequiredMessage_primerNombre}"/>
                        <p:outputLabel value="#{bundle.EditPersonaLabel_segundoNombre}" for="segundoNombre" />
                        <p:inputText id="segundoNombre" value="#{personaController.selected.segundoNombre}" title="#{bundle.EditPersonaTitle_segundoNombre}" />
                        <p:outputLabel value="#{bundle.EditPersonaLabel_primerApellido}" for="primerApellido" />
                        <p:inputText id="primerApellido" value="#{personaController.selected.primerApellido}" title="#{bundle.EditPersonaTitle_primerApellido}" required="true" requiredMessage="#{bundle.EditPersonaRequiredMessage_primerApellido}"/>
                        <p:outputLabel value="#{bundle.EditPersonaLabel_segundoApellido}" for="segundoApellido" />
                        <p:inputText id="segundoApellido" value="#{personaController.selected.segundoApellido}" title="#{bundle.EditPersonaTitle_segundoApellido}" />
                        <p:outputLabel value="#{bundle.EditPersonaLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{personaController.selected.direccion}" title="#{bundle.EditPersonaTitle_direccion}" required="true" requiredMessage="#{bundle.EditPersonaRequiredMessage_direccion}"/>
                        <p:outputLabel value="#{bundle.EditPersonaLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{personaController.selected.telefono}" title="#{bundle.EditPersonaTitle_telefono}" required="true" requiredMessage="#{bundle.EditPersonaRequiredMessage_telefono}"/>
                        <p:outputLabel value="#{bundle.EditPersonaLabel_estudiante}" for="estudiante" />
                        <p:selectOneMenu id="estudiante" value="#{personaController.selected.estudiante}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{estudianteController.itemsAvailableSelectOne}"
                                           var="estudianteItem"
                                           itemValue="#{estudianteItem.toString()}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditPersonaLabel_docente}" for="docente" />
                        <p:selectOneMenu id="docente" value="#{personaController.selected.docente}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{docenteController.itemsAvailableSelectOne}"
                                           var="docenteItem"
                                           itemValue="#{docenteItem.toString()}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{personaController.update}" value="#{bundle.Save}" update="display,:PersonaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PersonaEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="PersonaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
