<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PersonaViewDlg" widgetVar="PersonaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPersonaTitle}">
            <h:form id="PersonaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{personaController.selected != null}">
                        <h:outputText value="#{bundle.ViewPersonaLabel_cedula}"/>
                        <h:outputText value="#{personaController.selected.cedula}" title="#{bundle.ViewPersonaTitle_cedula}"/>
                        <h:outputText value="#{bundle.ViewPersonaLabel_primerNombre}"/>
                        <h:outputText value="#{personaController.selected.primerNombre}" title="#{bundle.ViewPersonaTitle_primerNombre}"/>
                        <h:outputText value="#{bundle.ViewPersonaLabel_segundoNombre}"/>
                        <h:outputText value="#{personaController.selected.segundoNombre}" title="#{bundle.ViewPersonaTitle_segundoNombre}"/>
                        <h:outputText value="#{bundle.ViewPersonaLabel_primerApellido}"/>
                        <h:outputText value="#{personaController.selected.primerApellido}" title="#{bundle.ViewPersonaTitle_primerApellido}"/>
                        <h:outputText value="#{bundle.ViewPersonaLabel_segundoApellido}"/>
                        <h:outputText value="#{personaController.selected.segundoApellido}" title="#{bundle.ViewPersonaTitle_segundoApellido}"/>
                        <h:outputText value="#{bundle.ViewPersonaLabel_direccion}"/>
                        <h:outputText value="#{personaController.selected.direccion}" title="#{bundle.ViewPersonaTitle_direccion}"/>
                        <h:outputText value="#{bundle.ViewPersonaLabel_telefono}"/>
                        <h:outputText value="#{personaController.selected.telefono}" title="#{bundle.ViewPersonaTitle_telefono}"/>
                        <h:outputText value="#{bundle.ViewPersonaLabel_estudiante}"/>
                        <h:outputText value="#{personaController.selected.estudiante}" title="#{bundle.ViewPersonaTitle_estudiante}"/>
                        <h:outputText value="#{bundle.ViewPersonaLabel_docente}"/>
                        <h:outputText value="#{personaController.selected.docente}" title="#{bundle.ViewPersonaTitle_docente}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PersonaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
