<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MaterialCreateDlg" widgetVar="MaterialCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateMaterialTitle}">
            <h:form id="MaterialCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{materialController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateMaterialLabel_idMaterial}" for="idMaterial" />
                        <p:inputText id="idMaterial" value="#{materialController.selected.idMaterial}" title="#{bundle.CreateMaterialTitle_idMaterial}" required="true" requiredMessage="#{bundle.CreateMaterialRequiredMessage_idMaterial}"/>
                        <p:outputLabel value="#{bundle.CreateMaterialLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{materialController.selected.nombre}" title="#{bundle.CreateMaterialTitle_nombre}" required="true" requiredMessage="#{bundle.CreateMaterialRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.CreateMaterialLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{materialController.selected.descripcion}" title="#{bundle.CreateMaterialTitle_descripcion}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{materialController.create}" value="#{bundle.Save}" update="display,:MaterialListForm:datalist,:growl" oncomplete="handleSubmit(args,'MaterialCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="MaterialCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
