<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MaterialViewDlg" widgetVar="MaterialViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewMaterialTitle}">
            <h:form id="MaterialViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{materialController.selected != null}">
                        <h:outputText value="#{bundle.ViewMaterialLabel_idMaterial}"/>
                        <h:outputText value="#{materialController.selected.idMaterial}" title="#{bundle.ViewMaterialTitle_idMaterial}"/>
                        <h:outputText value="#{bundle.ViewMaterialLabel_nombre}"/>
                        <h:outputText value="#{materialController.selected.nombre}" title="#{bundle.ViewMaterialTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewMaterialLabel_descripcion}"/>
                        <h:outputText value="#{materialController.selected.descripcion}" title="#{bundle.ViewMaterialTitle_descripcion}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="MaterialViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
