<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MaterialPorGradoCreateDlg" widgetVar="MaterialPorGradoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateMaterialPorGradoTitle}">
            <h:form id="MaterialPorGradoCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{materialPorGradoController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateMaterialPorGradoLabel_cantidadMaterial}" for="cantidadMaterial" />
                        <p:inputText id="cantidadMaterial" value="#{materialPorGradoController.selected.cantidadMaterial}" title="#{bundle.CreateMaterialPorGradoTitle_cantidadMaterial}" required="true" requiredMessage="#{bundle.CreateMaterialPorGradoRequiredMessage_cantidadMaterial}"/>
                        <p:outputLabel value="#{bundle.CreateMaterialPorGradoLabel_grado1}" for="grado1" />
                        <p:selectOneMenu id="grado1" value="#{materialPorGradoController.selected.grado1}" required="true" requiredMessage="#{bundle.EditMaterialPorGradoRequiredMessage_grado1}">
                            <f:selectItems value="#{gradoController.itemsAvailableSelectOne}"
                                           var="grado1Item"
                                           itemValue="#{grado1Item.toString()}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateMaterialPorGradoLabel_material1}" for="material1" />
                        <p:selectOneMenu id="material1" value="#{materialPorGradoController.selected.material1}" required="true" requiredMessage="#{bundle.EditMaterialPorGradoRequiredMessage_material1}">
                            <f:selectItems value="#{materialController.itemsAvailableSelectOne}"
                                           var="material1Item"
                                           itemValue="#{material1Item.toString()}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{materialPorGradoController.create}" value="#{bundle.Save}" update="display,:MaterialPorGradoListForm:datalist,:growl" oncomplete="handleSubmit(args,'MaterialPorGradoCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="MaterialPorGradoCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
