<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListMaterialPorGradoTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="MaterialPorGradoListForm">
                <p:panel header="#{bundle.ListMaterialPorGradoTitle}">
                    <p:dataTable id="datalist" value="#{materialPorGradoController.items}" var="item"
                                 selectionMode="single" selection="#{materialPorGradoController.selected}"
                                 paginator="true"
                                 rowKey="#{item.materialPorGradoPK}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMaterialPorGradoTitle_cantidadMaterial}"/>
                            </f:facet>
                            <h:outputText value="#{item.cantidadMaterial}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMaterialPorGradoTitle_grado1}"/>
                            </f:facet>
                            <h:outputText value="#{item.grado1.toString()}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMaterialPorGradoTitle_material1}"/>
                            </f:facet>
                            <h:outputText value="#{item.material1.toString()}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{materialPorGradoController.prepareCreate}" update=":MaterialPorGradoCreateForm" oncomplete="PF('MaterialPorGradoCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":MaterialPorGradoViewForm" oncomplete="PF('MaterialPorGradoViewDialog').show()" disabled="#{empty materialPorGradoController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":MaterialPorGradoEditForm" oncomplete="PF('MaterialPorGradoEditDialog').show()" disabled="#{empty materialPorGradoController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{materialPorGradoController.destroy}" update=":growl,datalist" disabled="#{empty materialPorGradoController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
