<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MaterialPorGradoViewDlg" widgetVar="MaterialPorGradoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewMaterialPorGradoTitle}">
            <h:form id="MaterialPorGradoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{materialPorGradoController.selected != null}">
                        <h:outputText value="#{bundle.ViewMaterialPorGradoLabel_cantidadMaterial}"/>
                        <h:outputText value="#{materialPorGradoController.selected.cantidadMaterial}" title="#{bundle.ViewMaterialPorGradoTitle_cantidadMaterial}"/>
                        <h:outputText value="#{bundle.ViewMaterialPorGradoLabel_grado1}"/>
                        <h:outputText value="#{materialPorGradoController.selected.grado1}" title="#{bundle.ViewMaterialPorGradoTitle_grado1}"/>
                        <h:outputText value="#{bundle.ViewMaterialPorGradoLabel_material1}"/>
                        <h:outputText value="#{materialPorGradoController.selected.material1}" title="#{bundle.ViewMaterialPorGradoTitle_material1}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="MaterialPorGradoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
