<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RegistroNotasCreateDlg" widgetVar="RegistroNotasCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateRegistroNotasTitle}">
            <h:form id="RegistroNotasCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{registroNotasController.selected != null}">
                        <p:outputLabel for="asignatura" value="#{bundle.CreateRegistroNotasLabel_asignatura}" />
                        <p:selectOneMenu value="#{parametricasBean.estudianteSeleccionado}" id="asignatura" required="true" requiredMessage="#{bundle.EditRegistroNotasRequiredMessage_asignatura}">
                            <f:selectItems value="#{asignaturaController.itemsAvailableSelectOne}"
                                           var="asignaturaItem"
                                           itemValue="#{asignaturaItem.toString()}"/>
                            <p:ajax event="change" listener="#{parametricasBean.muestreCambioEstudiante()}"
                                    update=":growl" />
                        </p:selectOneMenu>
                        
                        <p:outputLabel for="estudiante" value="#{bundle.CreateRegistroNotasLabel_estudiante}" />
                        <p:selectOneMenu id="estudiante" value="#{registroNotasController.selected.estudiante}" required="true" requiredMessage="#{bundle.EditRegistroNotasRequiredMessage_estudiante}">
                            <f:selectItems value="#{parametricasBean.asignatura}"
                                           var="fila"
                                           itemValue="#{fila.cedulaEstudiante}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateRegistroNotasLabel_notaUno}" for="notaUno" />
                        <p:inputText id="notaUno" value="#{registroNotasController.selected.notaUno}" title="#{bundle.CreateRegistroNotasTitle_notaUno}" required="true" requiredMessage="#{bundle.CreateRegistroNotasRequiredMessage_notaUno}"/>
                        <p:outputLabel value="#{bundle.CreateRegistroNotasLabel_notaDos}" for="notaDos" />
                        <p:inputText id="notaDos" value="#{registroNotasController.selected.notaDos}" title="#{bundle.CreateRegistroNotasTitle_notaDos}" required="true" requiredMessage="#{bundle.CreateRegistroNotasRequiredMessage_notaDos}"/>
                        <p:outputLabel value="#{bundle.CreateRegistroNotasLabel_notaTres}" for="notaTres" />
                        <p:inputText id="notaTres" value="#{registroNotasController.selected.notaTres}" title="#{bundle.CreateRegistroNotasTitle_notaTres}" required="true" requiredMessage="#{bundle.CreateRegistroNotasRequiredMessage_notaTres}"/>
                        <p:outputLabel value="#{bundle.CreateRegistroNotasLabel_notaCuatro}" for="notaCuatro" />
                        <p:inputText id="notaCuatro" value="#{registroNotasController.selected.notaCuatro}" title="#{bundle.CreateRegistroNotasTitle_notaCuatro}" required="true" requiredMessage="#{bundle.CreateRegistroNotasRequiredMessage_notaCuatro}"/>
                        <p:outputLabel value="#{bundle.CreateRegistroNotasLabel_notaQuinto}" for="notaQuinto" />
                        <p:inputText id="notaQuinto" value="#{registroNotasController.selected.notaQuinto}" title="#{bundle.CreateRegistroNotasTitle_notaQuinto}" required="true" requiredMessage="#{bundle.CreateRegistroNotasRequiredMessage_notaQuinto}"/>
                        
                    </p:panelGrid>
                    <p:commandButton actionListener="#{registroNotasController.create}" value="#{bundle.Save}" update="display,:RegistroNotasListForm:datalist,:growl" oncomplete="handleSubmit(args,'RegistroNotasCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="RegistroNotasCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
