<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RegistroNotasEditDlg" widgetVar="RegistroNotasEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditRegistroNotasTitle}">
            <h:form id="RegistroNotasEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{registroNotasController.selected != null}">
                        <p:outputLabel value="#{bundle.EditRegistroNotasLabel_notaUno}" for="notaUno" />
                        <p:inputText id="notaUno" value="#{registroNotasController.selected.notaUno}" title="#{bundle.EditRegistroNotasTitle_notaUno}" required="true" requiredMessage="#{bundle.EditRegistroNotasRequiredMessage_notaUno}"/>
                        <p:outputLabel value="#{bundle.EditRegistroNotasLabel_notaDos}" for="notaDos" />
                        <p:inputText id="notaDos" value="#{registroNotasController.selected.notaDos}" title="#{bundle.EditRegistroNotasTitle_notaDos}" required="true" requiredMessage="#{bundle.EditRegistroNotasRequiredMessage_notaDos}"/>
                        <p:outputLabel value="#{bundle.EditRegistroNotasLabel_notaTres}" for="notaTres" />
                        <p:inputText id="notaTres" value="#{registroNotasController.selected.notaTres}" title="#{bundle.EditRegistroNotasTitle_notaTres}" required="true" requiredMessage="#{bundle.EditRegistroNotasRequiredMessage_notaTres}"/>
                        <p:outputLabel value="#{bundle.EditRegistroNotasLabel_notaCuatro}" for="notaCuatro" />
                        <p:inputText id="notaCuatro" value="#{registroNotasController.selected.notaCuatro}" title="#{bundle.EditRegistroNotasTitle_notaCuatro}" required="true" requiredMessage="#{bundle.EditRegistroNotasRequiredMessage_notaCuatro}"/>
                        <p:outputLabel value="#{bundle.EditRegistroNotasLabel_notaQuinto}" for="notaQuinto" />
                        <p:inputText id="notaQuinto" value="#{registroNotasController.selected.notaQuinto}" title="#{bundle.EditRegistroNotasTitle_notaQuinto}" required="true" requiredMessage="#{bundle.EditRegistroNotasRequiredMessage_notaQuinto}"/>
                        <p:outputLabel value="#{bundle.EditRegistroNotasLabel_asignatura}" for="asignatura" />
                        <p:selectOneMenu id="asignatura" value="#{registroNotasController.selected.asignatura}" required="true" requiredMessage="#{bundle.EditRegistroNotasRequiredMessage_asignatura}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{asignaturaController.itemsAvailableSelectOne}"
                                           var="asignaturaItem"
                                           itemValue="#{asignaturaItem.toString()}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditRegistroNotasLabel_estudiante}" for="estudiante" />
                        <p:selectOneMenu id="estudiante" value="#{registroNotasController.selected.estudiante}" required="true" requiredMessage="#{bundle.EditRegistroNotasRequiredMessage_estudiante}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{estudianteController.itemsAvailableSelectOne}"
                                           var="estudianteItem"
                                           itemValue="#{estudianteItem.toString()}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{registroNotasController.update}" value="#{bundle.Save}" update="display,:RegistroNotasListForm:datalist,:growl" oncomplete="handleSubmit(args, 'RegistroNotasEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="RegistroNotasEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
