<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListRegistroNotasTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="RegistroNotasListForm">
                <p:panel header="#{bundle.ListRegistroNotasTitle}">
                    <p:dataTable id="datalist" value="#{registroNotasController.items}" var="item"
                                 selectionMode="single" selection="#{registroNotasController.selected}"
                                 paginator="true"
                                 rowKey="#{item.registroNotasPK}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRegistroNotasTitle_notaUno}"/>
                            </f:facet>
                            <h:outputText value="#{item.notaUno}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRegistroNotasTitle_notaDos}"/>
                            </f:facet>
                            <h:outputText value="#{item.notaDos}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRegistroNotasTitle_notaTres}"/>
                            </f:facet>
                            <h:outputText value="#{item.notaTres}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRegistroNotasTitle_notaCuatro}"/>
                            </f:facet>
                            <h:outputText value="#{item.notaCuatro}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRegistroNotasTitle_notaQuinto}"/>
                            </f:facet>
                            <h:outputText value="#{item.notaQuinto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRegistroNotasTitle_asignatura}"/>
                            </f:facet>
                            <h:outputText value="#{item.asignatura.toString()}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRegistroNotasTitle_estudiante}"/>
                            </f:facet>
                            <h:outputText value="#{item.estudiante.toString()}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{registroNotasController.prepareCreate}" update=":RegistroNotasCreateForm" oncomplete="PF('RegistroNotasCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":RegistroNotasViewForm" oncomplete="PF('RegistroNotasViewDialog').show()" disabled="#{empty registroNotasController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":RegistroNotasEditForm" oncomplete="PF('RegistroNotasEditDialog').show()" disabled="#{empty registroNotasController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{registroNotasController.destroy}" update=":growl,datalist" disabled="#{empty registroNotasController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
