<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RegistroNotasViewDlg" widgetVar="RegistroNotasViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRegistroNotasTitle}">
            <h:form id="RegistroNotasViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{registroNotasController.selected != null}">
                        <h:outputText value="#{bundle.ViewRegistroNotasLabel_notaUno}"/>
                        <h:outputText value="#{registroNotasController.selected.notaUno}" title="#{bundle.ViewRegistroNotasTitle_notaUno}"/>
                        <h:outputText value="#{bundle.ViewRegistroNotasLabel_notaDos}"/>
                        <h:outputText value="#{registroNotasController.selected.notaDos}" title="#{bundle.ViewRegistroNotasTitle_notaDos}"/>
                        <h:outputText value="#{bundle.ViewRegistroNotasLabel_notaTres}"/>
                        <h:outputText value="#{registroNotasController.selected.notaTres}" title="#{bundle.ViewRegistroNotasTitle_notaTres}"/>
                        <h:outputText value="#{bundle.ViewRegistroNotasLabel_notaCuatro}"/>
                        <h:outputText value="#{registroNotasController.selected.notaCuatro}" title="#{bundle.ViewRegistroNotasTitle_notaCuatro}"/>
                        <h:outputText value="#{bundle.ViewRegistroNotasLabel_notaQuinto}"/>
                        <h:outputText value="#{registroNotasController.selected.notaQuinto}" title="#{bundle.ViewRegistroNotasTitle_notaQuinto}"/>
                        <h:outputText value="#{bundle.ViewRegistroNotasLabel_asignatura}"/>
                        <h:outputText value="#{registroNotasController.selected.asignatura}" title="#{bundle.ViewRegistroNotasTitle_asignatura}"/>
                        <h:outputText value="#{bundle.ViewRegistroNotasLabel_estudiante}"/>
                        <h:outputText value="#{registroNotasController.selected.estudiante}" title="#{bundle.ViewRegistroNotasTitle_estudiante}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RegistroNotasViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
