<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EstudianteCreateDlg" widgetVar="EstudianteCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateEstudianteTitle}">
            <h:form id="EstudianteCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{estudianteController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateEstudianteLabel_cedulaEstudiante}" for="cedulaEstudiante" />
                        <p:inputText id="cedulaEstudiante" value="#{estudianteController.selected.cedulaEstudiante}" title="#{bundle.CreateEstudianteTitle_cedulaEstudiante}" required="true" requiredMessage="#{bundle.CreateEstudianteRequiredMessage_cedulaEstudiante}"/>
                        <p:outputLabel value="#{bundle.CreateEstudianteLabel_grado}" for="grado" />
                        <p:selectOneMenu id="grado" value="#{estudianteController.selected.grado}" required="true" requiredMessage="#{bundle.EditEstudianteRequiredMessage_grado}">
                            <f:selectItems value="#{gradoController.itemsAvailableSelectOne}"
                                           var="gradoItem"
                                           itemValue="#{gradoItem.toString()}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateEstudianteLabel_persona}" for="persona" />
                        <p:selectOneMenu id="persona" value="#{estudianteController.selected.persona}" required="true" requiredMessage="#{bundle.EditEstudianteRequiredMessage_persona}">
                            <f:selectItems value="#{personaController.itemsAvailableSelectOne}"
                                           var="personaItem"
                                           itemValue="#{personaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{estudianteController.create}" value="#{bundle.Save}" update="display,:EstudianteListForm:datalist,:growl" oncomplete="handleSubmit(args,'EstudianteCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="EstudianteCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
