<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListEstudianteTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="EstudianteListForm">
                <p:panel header="#{bundle.ListEstudianteTitle}">
                    <p:dataTable id="datalist" value="#{estudianteController.items}" var="item"
                                 selectionMode="single" selection="#{estudianteController.selected}"
                                 paginator="true"
                                 rowKey="#{item.cedulaEstudiante}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudianteTitle_cedulaEstudiante}"/>
                            </f:facet>
                            <h:outputText value="#{item.cedulaEstudiante}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudianteTitle_grado}"/>
                            </f:facet>
                            <h:outputText value="#{item.grado.toString()}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudianteTitle_persona}"/>
                            </f:facet>
                            <h:outputText value="#{item.persona.toString()}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{estudianteController.prepareCreate}" update=":EstudianteCreateForm" oncomplete="PF('EstudianteCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":EstudianteViewForm" oncomplete="PF('EstudianteViewDialog').show()" disabled="#{empty estudianteController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":EstudianteEditForm" oncomplete="PF('EstudianteEditDialog').show()" disabled="#{empty estudianteController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{estudianteController.destroy}" update=":growl,datalist" disabled="#{empty estudianteController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
                
                <p:outputLabel value="#{bundle.CreateEstudianteLabel_grado}" for="grado" />
                <p:selectOneMenu id="grado" value="#{sigapBean.gradoSeleccionado}" required="true">
                            <f:selectItems value="#{gradoController.itemsAvailableSelectOne}"
                                           var="gradoItem"
                                           itemLabel="#{gradoItem.nombreGrado}"/>
                                           itemValue="#{gradoItem.idGrado}"/>
                            <p:ajax event="change"
                                    update="@all" />
                        </p:selectOneMenu>
                
                <p:chart type="pie" rendered="#{sigapBean.gradoSeleccionado!=''}" model="#{sigapBean.createPieModel1()}" style="width:400px;height:300px" />
                
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
