<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EstudianteViewDlg" widgetVar="EstudianteViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewEstudianteTitle}">
            <h:form id="EstudianteViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{estudianteController.selected != null}">
                        <h:outputText value="#{bundle.ViewEstudianteLabel_cedulaEstudiante}"/>
                        <h:outputText value="#{estudianteController.selected.cedulaEstudiante}" title="#{bundle.ViewEstudianteTitle_cedulaEstudiante}"/>
                        <h:outputText value="#{bundle.ViewEstudianteLabel_grado}"/>
                        <h:outputText value="#{estudianteController.selected.grado}" title="#{bundle.ViewEstudianteTitle_grado}"/>
                        <h:outputText value="#{bundle.ViewEstudianteLabel_persona}"/>
                        <h:outputText value="#{estudianteController.selected.persona}" title="#{bundle.ViewEstudianteTitle_persona}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="EstudianteViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
