<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AsignaturaCreateDlg" widgetVar="AsignaturaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateAsignaturaTitle}">
            <h:form id="AsignaturaCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{asignaturaController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateAsignaturaLabel_codigoAsignatura}" for="codigoAsignatura" />
                        <p:inputText id="codigoAsignatura" value="#{asignaturaController.selected.codigoAsignatura}" title="#{bundle.CreateAsignaturaTitle_codigoAsignatura}" required="true" requiredMessage="#{bundle.CreateAsignaturaRequiredMessage_codigoAsignatura}"/>
                        <p:outputLabel value="#{bundle.CreateAsignaturaLabel_nombreAsignatura}" for="nombreAsignatura" />
                        <p:inputText id="nombreAsignatura" value="#{asignaturaController.selected.nombreAsignatura}" title="#{bundle.CreateAsignaturaTitle_nombreAsignatura}" required="true" requiredMessage="#{bundle.CreateAsignaturaRequiredMessage_nombreAsignatura}"/>
                        <p:outputLabel value="#{bundle.CreateAsignaturaLabel_descripcionAsignatura}" for="descripcionAsignatura" />
                        <p:inputText id="descripcionAsignatura" value="#{asignaturaController.selected.descripcionAsignatura}" title="#{bundle.CreateAsignaturaTitle_descripcionAsignatura}" required="true" requiredMessage="#{bundle.CreateAsignaturaRequiredMessage_descripcionAsignatura}"/>
                        <p:outputLabel value="#{bundle.CreateAsignaturaLabel_porcentajeNotaUno}" for="porcentajeNotaUno" />
                        <p:inputText id="porcentajeNotaUno" value="#{asignaturaController.selected.porcentajeNotaUno}" title="#{bundle.CreateAsignaturaTitle_porcentajeNotaUno}" required="true" requiredMessage="#{bundle.CreateAsignaturaRequiredMessage_porcentajeNotaUno}"/>
                        <p:outputLabel value="#{bundle.CreateAsignaturaLabel_porcentajeNotaDos}" for="porcentajeNotaDos" />
                        <p:inputText id="porcentajeNotaDos" value="#{asignaturaController.selected.porcentajeNotaDos}" title="#{bundle.CreateAsignaturaTitle_porcentajeNotaDos}" required="true" requiredMessage="#{bundle.CreateAsignaturaRequiredMessage_porcentajeNotaDos}"/>
                        <p:outputLabel value="#{bundle.CreateAsignaturaLabel_porcentajeNotaTres}" for="porcentajeNotaTres" />
                        <p:inputText id="porcentajeNotaTres" value="#{asignaturaController.selected.porcentajeNotaTres}" title="#{bundle.CreateAsignaturaTitle_porcentajeNotaTres}" required="true" requiredMessage="#{bundle.CreateAsignaturaRequiredMessage_porcentajeNotaTres}"/>
                        <p:outputLabel value="#{bundle.CreateAsignaturaLabel_porcentajeNotaCuatro}" for="porcentajeNotaCuatro" />
                        <p:inputText id="porcentajeNotaCuatro" value="#{asignaturaController.selected.porcentajeNotaCuatro}" title="#{bundle.CreateAsignaturaTitle_porcentajeNotaCuatro}" required="true" requiredMessage="#{bundle.CreateAsignaturaRequiredMessage_porcentajeNotaCuatro}"/>
                        <p:outputLabel value="#{bundle.CreateAsignaturaLabel_porcentajeNotaCinco}" for="porcentajeNotaCinco" />
                        <p:inputText id="porcentajeNotaCinco" value="#{asignaturaController.selected.porcentajeNotaCinco}" title="#{bundle.CreateAsignaturaTitle_porcentajeNotaCinco}" required="true" requiredMessage="#{bundle.CreateAsignaturaRequiredMessage_porcentajeNotaCinco}"/>
                        <p:outputLabel value="#{bundle.CreateAsignaturaLabel_identificacionDocente}" for="identificacionDocente" />
                        <p:selectOneMenu id="identificacionDocente" value="#{asignaturaController.selected.identificacionDocente}" required="true" requiredMessage="#{bundle.EditAsignaturaRequiredMessage_identificacionDocente}">
                            <f:selectItems value="#{docenteController.itemsAvailableSelectOne}"
                                           var="identificacionDocenteItem"
                                           itemValue="#{identificacionDocenteItem.toString()}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateAsignaturaLabel_grado}" for="grado" />
                        <p:selectOneMenu id="grado" value="#{asignaturaController.selected.grado}" required="true" requiredMessage="#{bundle.EditAsignaturaRequiredMessage_grado}">
                            <f:selectItems value="#{gradoController.itemsAvailableSelectOne}"
                                           var="gradoItem"
                                           itemValue="#{gradoItem.toString()}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{asignaturaController.create}" value="#{bundle.Save}" update="display,:AsignaturaListForm:datalist,:growl" oncomplete="handleSubmit(args,'AsignaturaCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="AsignaturaCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
