<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListAsignaturaTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="AsignaturaListForm">
                <p:panel header="#{bundle.ListAsignaturaTitle}">
                    <p:dataTable id="datalist" value="#{asignaturaController.items}" var="item"
                                 selectionMode="single" selection="#{asignaturaController.selected}"
                                 paginator="true"
                                 rowKey="#{item.codigoAsignatura}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAsignaturaTitle_codigoAsignatura}"/>
                            </f:facet>
                            <h:outputText value="#{item.codigoAsignatura}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAsignaturaTitle_nombreAsignatura}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombreAsignatura}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAsignaturaTitle_descripcionAsignatura}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcionAsignatura}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAsignaturaTitle_porcentajeNotaUno}"/>
                            </f:facet>
                            <h:outputText value="#{item.porcentajeNotaUno}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAsignaturaTitle_porcentajeNotaDos}"/>
                            </f:facet>
                            <h:outputText value="#{item.porcentajeNotaDos}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAsignaturaTitle_porcentajeNotaTres}"/>
                            </f:facet>
                            <h:outputText value="#{item.porcentajeNotaTres}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAsignaturaTitle_porcentajeNotaCuatro}"/>
                            </f:facet>
                            <h:outputText value="#{item.porcentajeNotaCuatro}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAsignaturaTitle_porcentajeNotaCinco}"/>
                            </f:facet>
                            <h:outputText value="#{item.porcentajeNotaCinco}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAsignaturaTitle_identificacionDocente}"/>
                            </f:facet>
                            <h:outputText value="#{item.identificacionDocente.toString()}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAsignaturaTitle_grado}"/>
                            </f:facet>
                            <h:outputText value="#{item.grado}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{asignaturaController.prepareCreate}" update=":AsignaturaCreateForm" oncomplete="PF('AsignaturaCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":AsignaturaViewForm" oncomplete="PF('AsignaturaViewDialog').show()" disabled="#{empty asignaturaController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":AsignaturaEditForm" oncomplete="PF('AsignaturaEditDialog').show()" disabled="#{empty asignaturaController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{asignaturaController.destroy}" update=":growl,datalist" disabled="#{empty asignaturaController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
