<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AsignaturaViewDlg" widgetVar="AsignaturaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewAsignaturaTitle}">
            <h:form id="AsignaturaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{asignaturaController.selected != null}">
                        <h:outputText value="#{bundle.ViewAsignaturaLabel_codigoAsignatura}"/>
                        <h:outputText value="#{asignaturaController.selected.codigoAsignatura}" title="#{bundle.ViewAsignaturaTitle_codigoAsignatura}"/>
                        <h:outputText value="#{bundle.ViewAsignaturaLabel_nombreAsignatura}"/>
                        <h:outputText value="#{asignaturaController.selected.nombreAsignatura}" title="#{bundle.ViewAsignaturaTitle_nombreAsignatura}"/>
                        <h:outputText value="#{bundle.ViewAsignaturaLabel_descripcionAsignatura}"/>
                        <h:outputText value="#{asignaturaController.selected.descripcionAsignatura}" title="#{bundle.ViewAsignaturaTitle_descripcionAsignatura}"/>
                        <h:outputText value="#{bundle.ViewAsignaturaLabel_porcentajeNotaUno}"/>
                        <h:outputText value="#{asignaturaController.selected.porcentajeNotaUno}" title="#{bundle.ViewAsignaturaTitle_porcentajeNotaUno}"/>
                        <h:outputText value="#{bundle.ViewAsignaturaLabel_porcentajeNotaDos}"/>
                        <h:outputText value="#{asignaturaController.selected.porcentajeNotaDos}" title="#{bundle.ViewAsignaturaTitle_porcentajeNotaDos}"/>
                        <h:outputText value="#{bundle.ViewAsignaturaLabel_porcentajeNotaTres}"/>
                        <h:outputText value="#{asignaturaController.selected.porcentajeNotaTres}" title="#{bundle.ViewAsignaturaTitle_porcentajeNotaTres}"/>
                        <h:outputText value="#{bundle.ViewAsignaturaLabel_porcentajeNotaCuatro}"/>
                        <h:outputText value="#{asignaturaController.selected.porcentajeNotaCuatro}" title="#{bundle.ViewAsignaturaTitle_porcentajeNotaCuatro}"/>
                        <h:outputText value="#{bundle.ViewAsignaturaLabel_porcentajeNotaCinco}"/>
                        <h:outputText value="#{asignaturaController.selected.porcentajeNotaCinco}" title="#{bundle.ViewAsignaturaTitle_porcentajeNotaCinco}"/>
                        <h:outputText value="#{bundle.ViewAsignaturaLabel_identificacionDocente}"/>
                        <h:outputText value="#{asignaturaController.selected.identificacionDocente}" title="#{bundle.ViewAsignaturaTitle_identificacionDocente}"/>
                        <h:outputText value="#{bundle.ViewAsignaturaLabel_grado}"/>
                        <h:outputText value="#{asignaturaController.selected.grado}" title="#{bundle.ViewAsignaturaTitle_grado}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="AsignaturaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
