<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuarioCreateDlg" widgetVar="UsuarioCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateUsuarioTitle}">
            <h:form id="UsuarioCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuarioController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_usuarioName}" for="usuarioName" />
                        <p:inputText id="usuarioName" value="#{usuarioController.selected.usuarioName}" title="#{bundle.CreateUsuarioTitle_usuarioName}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_usuarioName}"/>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_contrasena}" for="contrasena" />
                        <p:inputText id="contrasena" value="#{usuarioController.selected.contrasena}" title="#{bundle.CreateUsuarioTitle_contrasena}" />
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_identificacionUsuario}" for="identificacionUsuario" />
                        <p:selectOneMenu id="identificacionUsuario" value="#{usuarioController.selected.identificacionUsuario}" >
                            <f:selectItems value="#{personaController.itemsAvailableSelectOne}"
                                           var="identificacionUsuarioItem"
                                           itemValue="#{identificacionUsuarioItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuarioController.create}" value="#{bundle.Save}" update="display,:UsuarioListForm:datalist,:growl" oncomplete="handleSubmit(args,'UsuarioCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="UsuarioCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
