<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        <br />
        <h:link outcome="/asignatura/List" value="Show All Asignatura Items"/>
        <br />
        <h:link outcome="/docente/List" value="Show All Docente Items"/>
        <br />
        <h:link outcome="/estudiante/List" value="Show All Estudiante Items"/>
        <br />
        <h:link outcome="/grado/List" value="Show All Grado Items"/>
        <br />
        <h:link outcome="/inscripcion/List" value="Show All Inscripcion Items"/>
        <br />
        <h:link outcome="/material/List" value="Show All Material Items"/>
        <br />
        <h:link outcome="/materialPorGrado/List" value="Show All MaterialPorGrado Items"/>
        <br />
        <h:link outcome="/matricula/List" value="Show All Matricula Items"/>
        <br />
        <h:link outcome="/persona/List" value="Show All Persona Items"/>
        <br />
        <h:link outcome="/registroNotas/List" value="Show All RegistroNotas Items"/>
        <br />
        <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
    </h:body>
</html>