<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title> Ingresar </title>
        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"/>
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    </h:head>
    <h:body styleClass="cyan lighten-5">
        <div class="valign-wrapper" id="login-page">
            <div class="container">
                <div class="center-align">
                    <div class="row">
                        <div class="col s6 offset-s3">
                            <div class="card">
                                <div class="card-content">
                                    <img class="responsive-img" style="max-width: 64px;" src="http://2.bp.blogspot.com/-9rR_eOrtjNU/T7unLgpw0hI/AAAAAAAAAAk/CA4ppjUzppg/s1600/Escudo.png"/>
                                         <div class="center-align-align">
                                             <h:form id="login-form">
                                                <p:growl id="pgErrores"/>
                                                <div class="row"> 
                                                   <div class="col s12 input-field">
                                                    <h:inputText id="usuario" required="true" value="#{loginController.nombreUsuario}"/>
                                                     <h:outputLabel for="username" value="Usuario"/>
                                                   </div>
                                                 
                                                    <div class="col s12 input-field">
                                                        <h:inputSecret  id="password" required="true"  value="#{loginController.passwordUsuario}"/>
                                                      <h:outputLabel for="password" value="Contraseña"/>
                                                     </div>
                                                 <div class="col s12 input-field">
                                                     <p:commandButton value="Ingresar" update="@all" action="#{loginController.ingresar()}"/>
                                                     <p:commandButton value="Cancelar" immediate="true" action="matricula/List.xhtml"/>
                                                     
                                                 </div> 
                                                </div>
                                             </h:form>

                                         </div>
                                </div>
                                </div> 
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        
         <h:form class="col s12">
                <p:clock displayMode="analog" mode="server" />
          </h:form>
     </h:body>
</html>
             













